---
title: Altoros Jenkins for VMware Tanzu
owner: Partners
---

This documentation describes Altoros Jenkins for VMware Tanzu.

[Jenkins](https://jenkins.io/) is a self-contained, open-source automation server which can be used to automate
all sorts of tasks such as building, testing, and deploying software.
Jenkins helps teams to solve automation challenges in CI/CD when deploying applications to cloud native architectures.

Altoros Jenkins for VMware Tanzu allows you to configure and deploy Jenkins CI master and node followers.

## <a id='overview'></a>Overview

Altoros Jenkins for VMware Tanzu includes the following key features:

* Open-source Jenkins v2.249.1
* Master/follower Jenkins architecture
* Nodes preconfigured with Cloud Foundry plugins

## <a id="snapshot"></a>Product Snapshot

<table class="nice">
	<th>Element</th>
	<th>Details</th>
	<tr>
		<td>Version</td>
		<td>v.1.1.5</td>
	</tr>
	<tr>
		<td>Release date</td>
		<td>Oct 7, 2020</td>
	</tr>
	<tr>
		<td>Software component version</td>
		<td>v1.1.5</td>
	</tr>
	<tr>
		<td>Compatible Ops Manager version(s)</td>
		<td>v2.7.x, v2.8.x, v2.9.x, v2.10.x </td>
	</tr>
        <tr>
                <td>Compatible Tanzu Application Service (TAS) version(s)</td>
	        <td>v2.7.x, v2.8.x, v2.9.x, v2.10.x</td>
        </tr>
        <tr>
                <td>BOSH stemcell version</td>
                <td>Ubuntu Xenial</td>
        </tr>
	<tr>
		<td>IaaS support</td>
		<td>AWS, GCP, Azure, OpenStack, and vSphere</td>
	</tr>
</table>

## <a id="reqs"></a>Requirements

Altoros Jenkins for VMware Tanzu has the following requirement:

* [TAS](https://network.pivotal.io/products/elastic-runtime) v2.7.x, v2.8.x, v2.9.x, v2.10.x

## <a id="feedback"></a>Feedback

Report bugs, make feature requests, or ask questions on the
[VMware Tanzu Feedback](mailto:pivotal-cf-feedback@pivotal.io) list, or send an email to [Altoros Customer Support](mailto:pcftiles-support@altoros.com).
