---
title: Altoros Jenkins for PCF (Beta)
owner: Partners
---


<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<p class="note warning">
<strong>IMPORTANT: </strong>
The Altoros Jenkins for Pivotal Cloud Foundry (PCF) tile is currently in beta and is intended for evaluation and test purposes only.

Do not use this product in a PCF production environment.
</p>

This documentation describes Altoros Jenkins for Pivotal Cloud Foundry (PCF).

## <a id='overview'></a>Overview

Altoros Jenkins for PCF includes the following key features:

* Open-source Jenkins 2.32.2
* Master/follower Jenkins architecture
* Nodes preconfigured with Cloud Foundry plugins

## <a id="snapshot"></a>Product Snapshot

<table class="nice">
	<th>Element</th>
	<th>Details</th>
	<tr>
		<td>Version</td>
		<td>v.0.8.0</td>
	</tr>
	<tr>
		<td>Release date</td>
		<td>April 10, 2017</td>
	</tr>
	<tr>
		<td>Software component version</td>
		<td>v0.8.0</td>
	</tr>
	<tr>
		<td>Compatible Ops Manager version(s)</td>
		<td>v1.7.x, v1.8.x, v1.9.x</td>
	</tr>
	<tr>
		<td>Compatible Elastic Runtime version(s)</td>
		<td>v1.7.x, v1.8.x, v1.9.x</td>
	</tr>
	<tr>
		<td>IaaS support</td>
		<td>AWS, OpenStack, and vSphere</td>
	</tr>

</table>

## <a id="reqs"></a>Requirements

Altoros Jenkins for PCF has the following requirement:

* [Elastic Runtime](https://network.pivotal.io/products/elastic-runtime) v1.7, v1.8, or v1.9

## <a id="feedback"></a>Feedback

Report bugs, make feature requests, or ask questions on the
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list, or send an email to [Altoros Customer Support](mailto:pcftiles-support@altoros.com).
