---
title: Installing and Configuring Altoros Jenkins for PCF
owner: Partners
---

This topic describes how to install and configure Altoros Jenkins for PCF.

##<a id='install'></a> Install and Configure Altoros Jenkins for PCF

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/altoros-jenkins/).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of Altoros Jenkins for PCF.
This adds the tile to your staging area.

1. Click the newly added **Altoros Jenkins for PCF** tile.

1. Make sure your network, resource and stemcell configuration is complete.

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install Altoros Jenkins for PCF tile.
