---
title: Using Altoros Jenkins for PCF
owner: Partners
---

This topic describes how to use Altoros Jenkins for Pivotal Cloud Foundry (PCF).

##<a id='prereq'></a> Prerequisite

You have installed and configured the Altoros Jenkins for PCF tile.
For information, see [Installing and Configuring Altoros Jenkins for PCF](./installing.html).

##<a id='using'></a> Use Altoros Jenkins for PCF

To use Altoros Jenkins with your PCF deployment, do the following:

1. Navigate to `https://jenkins.YOUR-SYSTEM-DOMAIN`.

    A prompt appears requesting permission for Jenkins, see **Altoros Jenkins for PCF** tile > **Credentials** for these credentials.

1. Log in to Jenkins using the Administrator credentials.

##<a id='container'></a> Set up Docker Followers for Jenkins

To use Jenkins Docker Plugin with your Altoros Jenkins for PCF deployment, do the following:

1. Docker appears in the **Cloud** section of the Jenkins configuration, select **Docker** from the **Add a new cloud** drop down menu.
   <%= image_tag("images/docker_cloud_conf.png") %>

1. Select the **Docker** and complete these fields:
   * **Name**: You can give any name for your cloud.
   * **Docker URL**: This is the connection URL to your **Jenkins Docker Cloud** host with configured Docker daemon (e.g. tcp://10.111.111.26:4243).
   * **Docker Image**: Container to be used as a Jenkins follower build node.
   * **Labels**: Labels to give these nodes (for limiting your builds).
   <%= image_tag("images/docker_cloud_conf2.png") %>

1. Configure a job to use **Jenkins Docker Cloud** using the labels from the previous step.
   <%= image_tag("images/job_conf.png") %>

