---
title: Using Altoros Jenkins for PCF
owner: Partners
---

This topic describes how to use Altoros Jenkins for PCF.

##<a id='using'></a> Using Altoros Jenkins for PCF

With the Altoros Jenkins tile for PCF installed in Ops Manager:

1. Navigate to `https://jenkins.YOUR-SYSTEM-DOMAIN`.
A prompt appears requesting permission for Jenkins, refer to **Altoros Jenkins for PCF** tile > **Credentials** for these credentials.

1. Log in to Jenkins using the Administrator credentials.
