---
title: Using Altoros Jenkins for PCF
owner: Partners
---

This topic describes how to use Altoros Jenkins for Pivotal Cloud Foundry (PCF).

##<a id='prereq'></a> Prerequisite

You have installed and configured the Altoros Jenkins for PCF tile. 
For information, see [Installing and Configuring Altoros Jenkins for PCF](./installing.html.md.erb).

##<a id='using'></a> Use Altoros Jenkins for PCF

To use Altoros Jenkins with your PCF deployment, do the following:

1. Navigate to `https://jenkins.YOUR-SYSTEM-DOMAIN`.

    A prompt appears requesting permission for Jenkins, see **Altoros Jenkins for PCF** tile > **Credentials** for these credentials.

1. Log in to Jenkins using the Administrator credentials.
